<!doctype html >
<html>
    <head></head>
    <body>
        <h1>All Users</h1>
        <ul>
        @foreach (var item in @Model)
        {
                        <li>@item.Name <a href="/Categories/Details/@item.Id">Details</a></li>
        }
        </ul>
    </body>
</html>