<!doctype html >
<html>
    <head></head>
    <body>
        <h1>All Users</h1>
        <ul>
        @foreach(var item in @Model)
        {
            <li>@item</li>
        }
        </ul>
    </body>
</html>